.cg-add-skills {
  .select-skills {
    .ss-selections {
      &__left {
        display: inline-block;
        max-width: 70%;
      }

      &__right {
        display: inline-block;
        float: right;

        .select-dd-container {
          display: inline-block;
          width: 120px;
          margin-left: 8px;
        }
      }
    }

    .ss-autosuggest {
      margin-top: 24px;
    }

    .ss-featured {
      margin: 24px 0;
    }
  }

  .guide-request-auth {
    text-align: center;

    .ctas {      
      button {
        margin: 4px 0;
      }
    }
  }
}