#navbar {
  margin: 24px 0;
  padding: 0 48px;

  .header-icon {
    display: inline-block;
    font-size: 1.4em;
    margin-right: 24px;
  }

  .header-left {
    display: inline-block;

    &__item {
      display: inline-block;
      margin: 0 12px;
    }
  }

  .header-right {
    display: inline-block;
    float: right;
  }
}