@import 'palette.scss';

.textarea {

  &__label {
    display: block;
  }

  &__input {
    border: 1px solid $palette-grey;
    border-radius: 4px;
    width: 100%;
    padding: 7px;
    font-size: 0.9em;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
  }
}