@import '../../../palette.scss';

.button {
  background-color: $palette-blue;
  color: $palette-white;
  display: inline-block;
  font-size: 0.9em;
  height: 36px;
  padding: 7px 24px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  user-select: none;
  text-align: center;
  border: none;

  &.flex {
    width: 100%;
  }
}

.button:hover {
  background-color: $palette-blue-emp;
}