@import 'palette.scss';

.guide-start {
  .search-roles {
    display: flex;
    justify-content: center;
    align-items: center;

    &__search, &__submit {
      margin: 0 4px;
    }

    &__search {
      width: 296px;
    }

    &__suggestions {
      position: absolute;
      border: 1px solid $palette-grey;
      border-radius: 4px;
      padding: 8px;
      font-size: 0.9em;
      width: 224px;
      box-sizing: border-box;

      &.hidden {
        display: none;
      }

      .suggestion {
        cursor: pointer;
        padding: 4px 12px;
        border-radius: 4px;

        &:hover {
          background-color: $palette-lblue;
          color: white;
        }
      }
    }
  }

  .popular-roles {
    margin: 48px;

    .popular-list {
      text-align: center;
    }
  }
}