@import 'palette.scss';

.questions {
  .new-question {
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    padding: 4px;
    margin: 12px 0;
    background-color: $palette-lgrey;
    transition: 0.1s ease-in-out;
  }

  .new-question:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}